* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.container {
    text-align: center;
    font-family: montserrat;
}

nav {
    min-height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(19, 18, 18);
    align-items: center;
}

.link a {
    text-decoration: none;
    color: white;
    padding: 5px;
}

.link a:hover {
    color: gray;
    text-decoration: underline;
}

.button button {
    width: 200px;
    height: 40px;
    border: 2px solid gray;
    border-radius: 3px;
    color: white;
    background-color: rgb(19, 18, 18);
}

.hambuger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    background-color: white;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

@media(max-width:768px) {
    .hambuger {
        display: block;
    }
    .hambuger .active .bar:nth-child(2) {
        opacity: 0;
    }
    .hambuger .active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg)
    }
    .hambuger .active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg)
    }
    .link {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: black;
        width: 150px;
        text-align: center;
        transition: 0.3s;
    }
}

.view {
    display: grid;
    place-content: center;
    background-image: url("https://images.app.goo.gl/kdmexhJbwjiYZfCd9");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: aquamarine;
    height: 200px;
    width: 100%;
}

.view .view-link {
    display: flex;
    flex-direction: row;
}

.view .view-link a {
    text-decoration: none;
    padding-right: 8px;
    padding-left: 8px;
}

.intro {
    background-color: rgb(51, 47, 47);
    height: 250px;
    width: 100%;
}

.testmonials {
    display: flex;
    flex-direction: row;
}

.testmonials img {
    height: 200px;
}

.testmonials .text {
    width: 50%;
    color: white;
    background-color: black;
}

.services {
    background-color: rgb(51, 47, 47);
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.box {
    background-color: black;
    color: white;
    height: 250px;
}

footer {
    background-color: black;
    display: flex;
    flex-direction: row;
}

.footer h3,
p {
    color: white;
    padding: 15px;
}

.copyright {
    background-color: rgb(51, 47, 47);
}